# ðŸ“Š Multi-Dataset Merger - Student Dropout Prediction
## Combining 5 Datasets for Maximum Accuracy

This notebook merges multiple student dropout datasets:
1. **Dataset 1**: Higher Education Predictors (4,400 students)
2. **Dataset 2**: Student Performance - Math (395 students)
3. **Dataset 3**: Academic Success - Dropout Prediction (4,424 students)
4. **Dataset 4**: Student Mental Health (101 students)
5. **Dataset 5**: Predict Students Dropout & Success (4,424 students)

## 1. Setup and Imports

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import sys
import os
import warnings
warnings.filterwarnings('ignore')

# Add parent directory to path
sys.path.append('..')
import config

print("âœ“ Libraries imported successfully")
print(f"Working Directory: {os.getcwd()}")

âœ“ Libraries imported successfully
Working Directory: D:\Santosh_minor\notebooks

## 2. Load All Datasets

In [2]:
# Load each dataset
datasets = {}

for idx, (name, path) in enumerate(zip(['dataset1', 'dataset2', 'dataset3', 'dataset4', 'dataset5'], 
                                        config.ALL_DATASETS), 1):
    try:
        df = pd.read_csv(path)
        datasets[name] = df
        print(f"âœ“ {config.DATASET_NAMES[name]:40} - {df.shape[0]:5,} rows Ã— {df.shape[1]:2} columns")
    except FileNotFoundError:
        print(f"âœ— {config.DATASET_NAMES[name]:40} - FILE NOT FOUND")
    except Exception as e:
        print(f"âœ— {config.DATASET_NAMES[name]:40} - ERROR: {str(e)}")

print(f"\nðŸ“Š Total datasets loaded: {len(datasets)}")

âœ“ Higher Education Predictors              - 4,424 rows Ã— 35 columns
âœ“ Student Performance                      -   395 rows Ã— 33 columns
âœ“ Academic Success                         - 4,424 rows Ã— 37 columns
âœ“ Mental Health                            -   101 rows Ã— 11 columns
âœ“ Predict Dropout & Success                - 4,424 rows Ã—  1 columns

ðŸ“Š Total datasets loaded: 5

## 3. Explore Dataset Structures

In [3]:
# Display columns for each dataset
for name, df in datasets.items():
    print(f"\n{'='*80}")
    print(f"{config.DATASET_NAMES[name]:^80}")
    print(f"{'='*80}")
    print(f"Shape: {df.shape}")
    print(f"\nColumns ({len(df.columns)}):")
    print(df.columns.tolist())
    print(f"\nFirst few rows:")
    display(df.head(2))

================================================================================
                          Higher Education Predictors
================================================================================
Shape: (4424, 35)

Columns (35):
['Marital status', 'Application mode', 'Application order', 'Course', 'Daytime/evening attendance', 'Previous qualification', 'Nacionality', "Mother's qualification", "Father's qualification", "Mother's occupation", "Father's occupation", 'Displaced', 'Educational special needs', 'Debtor', 'Tuition fees up to date', 'Gender', 'Scholarship holder', 'Age at enrollment', 'International', 'Curricular units 1st sem (credited)', 'Curricular units 1st sem (enrolled)', 'Curricular units 1st sem (evaluations)', 'Curricular units 1st sem (approved)', 'Curricular units 1st sem (grade)', 'Curricular units 1st sem (without evaluations)', 'Curricular units 2nd sem (credited)', 'Curricular units 2nd sem (enrolled)', 'Curricular units 2nd sem (evaluations)', 'Curricular units 2nd sem (approved)', 'Curricular units 2nd sem (grade)', 'Curricular units 2nd sem (without evaluations)', 'Unemployment rate', 'Inflation rate', 'GDP', 'Target']

First few rows:

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate

================================================================================
                              Student Performance
================================================================================
Shape: (395, 33)

Columns (33):
['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3']

First few rows:

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6

================================================================================
                                Academic Success
================================================================================
Shape: (4424, 37)

Columns (37):
['Marital status', 'Application mode', 'Application order', 'Course', 'Daytime/evening attendance', 'Previous qualification', 'Previous qualification (grade)', 'Nacionality', "Mother's qualification", "Father's qualification", "Mother's occupation", "Father's occupation", 'Admission grade', 'Displaced', 'Educational special needs', 'Debtor', 'Tuition fees up to date', 'Gender', 'Scholarship holder', 'Age at enrollment', 'International', 'Curricular units 1st sem (credited)', 'Curricular units 1st sem (enrolled)', 'Curricular units 1st sem (evaluations)', 'Curricular units 1st sem (approved)', 'Curricular units 1st sem (grade)', 'Curricular units 1st sem (without evaluations)', 'Curricular units 2nd sem (credited)', 'Curricular units 2nd sem (enrolled)', 'Curricular units 2nd sem (evaluations)', 'Curricular units 2nd sem (approved)', 'Curricular units 2nd sem (grade)', 'Curricular units 2nd sem (without evaluations)', 'Unemployment rate', 'Inflation rate', 'GDP', 'Target']

First few rows:

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate

================================================================================
                                 Mental Health
================================================================================
Shape: (101, 11)

Columns (11):
['Timestamp', 'Choose your gender', 'Age', 'What is your course?', 'Your current year of Study', 'What is your CGPA?', 'Marital status', 'Do you have Depression?', 'Do you have Anxiety?', 'Do you have Panic attack?', 'Did you seek any specialist for a treatment?']

First few rows:

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No

================================================================================
                           Predict Dropout & Success
================================================================================
Shape: (4424, 1)

Columns (1):
['Marital status;Application mode;Application order;Course;"Daytime/evening attendance\t";Previous qualification;Previous qualification (grade);Nacionality;Mother\'s qualification;Father\'s qualification;Mother\'s occupation;Father\'s occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target']

First few rows:

  Marital status;Application mode;Application order;Course;"Daytime/evening attendance\t";Previous qualification;Previous qualification (grade);Nacionality;Mother's qualification;Father's qualification;Mother's occupation;Father's occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target
0  1;17;5;171;1;1;122.0;1;19;12;5;9;127.3;1;0;0;1...
1  1;15;1;9254;1;1;160.0;1;1;3;3;3;142.5;1;0;0;0;...

## 4. Identify Target Variables

In [4]:
# Check target variables in each dataset
print("Target Variable Analysis:\n")

for name, df in datasets.items():
    print(f"\n{config.DATASET_NAMES[name]}:")
    
    # Check for common target column names
    target_candidates = ['Status', 'Target', 'Dropout', 'target', 'status', 'dropout']
    
    found = False
    for col in df.columns:
        if any(candidate.lower() in col.lower() for candidate in target_candidates):
            print(f"  Potential Target Column: '{col}'")
            print(f"  Unique Values: {df[col].unique()}")
            print(f"  Value Counts:\n{df[col].value_counts()}")
            found = True
            break
    
    if not found:
        print(f"  âš ï¸ No obvious target column found")
        print(f"  Columns available: {df.columns.tolist()}")

Target Variable Analysis:


Higher Education Predictors:
  Potential Target Column: 'Marital status'
  Unique Values: [1 2 4 3 5 6]
  Value Counts:
Marital status
1    3919
2     379
4      91
5      25
6       6
3       4
Name: count, dtype: int64

Student Performance:
  Potential Target Column: 'Pstatus'
  Unique Values: ['A' 'T']
  Value Counts:
Pstatus
T    354
A     41
Name: count, dtype: int64

Academic Success:
  Potential Target Column: 'Marital status'
  Unique Values: [1 2 4 3 5 6]
  Value Counts:
Marital status
1    3919
2     379
4      91
5      25
6       6
3       4
Name: count, dtype: int64

Mental Health:
  Potential Target Column: 'Marital status'
  Unique Values: ['No' 'Yes']
  Value Counts:
Marital status
No     85
Yes    16
Name: count, dtype: int64

Predict Dropout & Success:
  Potential Target Column: 'Marital status;Application mode;Application order;Course;"Daytime/evening attendance	";Previous qualification;Previous qualification (grade);Nacionality;Mother's qualification;Father's qualification;Mother's occupation;Father's occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target'
  Unique Values: ['1;17;5;171;1;1;122.0;1;19;12;5;9;127.3;1;0;0;1;1;0;20;0;0;0;0;0;0.0;0;0;0;0;0;0.0;0;10.8;1.4;1.74;Dropout'
 '1;15;1;9254;1;1;160.0;1;1;3;3;3;142.5;1;0;0;0;1;0;19;0;0;6;6;6;14.0;0;0;6;6;6;13.666666666666666;0;13.9;-0.3;0.79;Graduate'
 '1;1;5;9070;1;1;122.0;1;37;37;9;9;124.8;1;0;0;0;1;0;19;0;0;6;0;0;0.0;0;0;6;0;0;0.0;0;10.8;1.4;1.74;Dropout'
 ...
 '1;1;1;9500;1;1;154.0;1;37;37;9;9;149.5;1;0;0;1;0;1;30;0;0;7;8;7;14.9125;0;0;8;9;1;13.5;0;13.9;-0.3;0.79;Dropout'
 '1;1;1;9147;1;1;180.0;1;37;37;7;4;153.8;1;0;0;1;0;1;20;0;0;5;5;5;13.8;0;0;5;6;5;12.0;0;9.4;-0.8;-3.12;Graduate'
 '1;10;1;9773;1;1;152.0;22;38;37;5;9;152.0;1;0;0;1;0;0;22;1;0;6;8;6;11.666666666666666;0;0;6;6;6;13.0;0;12.7;3.7;-1.7;Graduate']
  Value Counts:
Marital status;Application mode;Application order;Course;"Daytime/evening attendance\t";Previous qualification;Previous qualification (grade);Nacionality;Mother's qualification;Father's qualification;Mother's occupation;Father's occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target
1;17;5;171;1;1;122.0;1;19;12;5;9;127.3;1;0;0;1;1;0;20;0;0;0;0;0;0.0;0;0;0;0;0;0.0;0;10.8;1.4;1.74;Dropout                        1
1;15;1;9254;1;1;160.0;1;1;3;3;3;142.5;1;0;0;0;1;0;19;0;0;6;6;6;14.0;0;0;6;6;6;13.666666666666666;0;13.9;-0.3;0.79;Graduate       1
1;1;5;9070;1;1;122.0;1;37;37;9;9;124.8;1;0;0;0;1;0;19;0;0;6;0;0;0.0;0;0;6;0;0;0.0;0;10.8;1.4;1.74;Dropout                        1
1;17;2;9773;1;1;122.0;1;38;37;5;3;119.6;1;0;0;1;0;0;20;0;0;6;8;6;13.428571428571429;0;0;6;10;5;12.4;0;9.4;-0.8;-3.12;Graduate    1
2;39;1;8014;0;1;100.0;1;37;38;9;9;141.5;0;0;0;1;0;0;45;0;0;6;9;5;12.333333333333334;0;0;6;6;6;13.0;0;13.9;-0.3;0.79;Graduate     1
                                                                                                                                ..
1;1;6;9773;1;1;125.0;1;1;1;5;4;122.2;0;0;0;1;1;0;19;0;0;6;7;5;13.6;0;0;6;8;5;12.666666666666666;0;15.5;2.8;-4.06;Graduate        1
1;1;2;9773;1;1;120.0;105;1;1;9;9;119.0;1;0;1;0;0;0;18;1;0;6;6;6;12.0;0;0;6;6;2;11.0;0;11.1;0.6;2.02;Dropout                      1
1;1;1;9500;1;1;154.0;1;37;37;9;9;149.5;1;0;0;1;0;1;30;0;0;7;8;7;14.9125;0;0;8;9;1;13.5;0;13.9;-0.3;0.79;Dropout                  1
1;1;1;9147;1;1;180.0;1;37;37;7;4;153.8;1;0;0;1;0;1;20;0;0;5;5;5;13.8;0;0;5;6;5;12.0;0;9.4;-0.8;-3.12;Graduate                    1
1;10;1;9773;1;1;152.0;22;38;37;5;9;152.0;1;0;0;1;0;0;22;1;0;6;8;6;11.666666666666666;0;0;6;6;6;13.0;0;12.7;3.7;-1.7;Graduate     1
Name: count, Length: 4424, dtype: int64

## 5. Standardize Target Variables

Create a unified 'Target' column with standard values: Dropout, Graduate, Enrolled

In [9]:
# Fixed Function to standardize target variable
def standardize_target(df, target_col=None):
    """
    Standardize target variable to: Dropout, Graduate, Enrolled
    """
    df_copy = df.copy()
    
    if target_col is None:
        # Try to find target column automatically
        target_candidates = ['Status', 'Target', 'Dropout', 'target', 'status', 'dropout']
        for col in df_copy.columns:
            if any(candidate.lower() in col.lower() for candidate in target_candidates):
                target_col = col
                break
    
    if target_col is None:
        print(f"âš ï¸ No target column found. Skipping...")
        return df_copy
    
    # Rename to 'Target'
    df_copy = df_copy.rename(columns={target_col: 'Target'})
    
    # Standardize values - Split into two operations to avoid compatibility issues
    df_copy['Target'] = df_copy['Target'].astype(str)  # Convert to string
    df_copy['Target'] = df_copy['Target'].str.strip()  # Then strip whitespace
    
    return df_copy

# Apply standardization
standardized_datasets = {}
for name, df in datasets.items():
    standardized_datasets[name] = standardize_target(df)
    if 'Target' in standardized_datasets[name].columns:
        print(f"âœ“ {config.DATASET_NAMES[name]:40} - Target standardized")
        print(f"  Values: {standardized_datasets[name]['Target'].unique()[:10]}")  # Show first 10 values
    else:
        print(f"âœ— {config.DATASET_NAMES[name]:40} - No target found")

AttributeError: 'DataFrame' object has no attribute 'str'

## 6. Identify Common Features

In [ ]:
# Find common features across datasets
from collections import Counter

all_columns = []
for df in standardized_datasets.values():
    all_columns.extend([col.lower().replace(' ', '_') for col in df.columns])

column_frequency = Counter(all_columns)

print("\nColumn Frequency Across Datasets:\n")
for col, count in column_frequency.most_common(20):
    print(f"{col:40} - appears in {count}/{len(datasets)} datasets")

# Identify core features present in at least 2 datasets
core_features = [col for col, count in column_frequency.items() if count >= 2]
print(f"\nâœ“ Found {len(core_features)} core features appearing in 2+ datasets")

## 7. Feature Harmonization

Create a common feature set across all datasets

In [ ]:
# Define key features to extract/engineer
KEY_FEATURES = [
    'age',
    'gender',
    'course',
    'year_of_study',
    'previous_qualification',
    'admission_grade',
    'mother_qualification',
    'father_qualification',
    'tuition_fees_up_to_date',
    'scholarship_holder',
    'debtor',
    'curricular_units_1st_sem',
    'curricular_units_2nd_sem',
    'unemployment_rate',
    'inflation_rate',
    'gdp'
]

def harmonize_features(df, dataset_name):
    """
    Extract and harmonize features from dataset
    """
    harmonized = pd.DataFrame()
    
    # Add dataset source
    harmonized['dataset_source'] = dataset_name
    
    # Map columns to standard names
    column_mapping = {}
    
    for col in df.columns:
        col_lower = col.lower().replace(' ', '_')
        
        # Age
        if 'age' in col_lower:
            harmonized['age'] = df[col]
        
        # Gender
        elif 'gender' in col_lower or 'sex' in col_lower:
            harmonized['gender'] = df[col]
        
        # Course
        elif 'course' in col_lower:
            harmonized['course'] = df[col]
        
        # Add more mappings as needed
    
    # Add target if available
    if 'Target' in df.columns:
        harmonized['Target'] = df['Target']
    
    # Fill missing columns with NaN
    for feature in KEY_FEATURES:
        if feature not in harmonized.columns:
            harmonized[feature] = np.nan
    
    return harmonized

print("Harmonizing datasets...\n")
harmonized_datasets = {}
for name, df in standardized_datasets.items():
    harmonized_datasets[name] = harmonize_features(df, config.DATASET_NAMES[name])
    print(f"âœ“ {config.DATASET_NAMES[name]:40} - {harmonized_datasets[name].shape}")

## 8. Merge Datasets

In [ ]:
# Concatenate all harmonized datasets
merged_df = pd.concat(harmonized_datasets.values(), ignore_index=True)

print(f"""\n{'='*80}
MERGED DATASET SUMMARY
{'='*80}
Total Rows: {merged_df.shape[0]:,}
Total Columns: {merged_df.shape[1]}
{'='*80}
""")

# Show dataset distribution
print("\nDataset Distribution:")
print(merged_df['dataset_source'].value_counts())

# Show target distribution
if 'Target' in merged_df.columns:
    print("\nTarget Distribution:")
    print(merged_df['Target'].value_counts())

# Show missing values
print("\nMissing Values:")
missing = merged_df.isnull().sum()
missing = missing[missing > 0].sort_values(ascending=False)
print(missing.head(10))

## 9. Basic Data Cleaning

In [ ]:
# Remove columns with >70% missing values
threshold = 0.7
missing_pct = merged_df.isnull().sum() / len(merged_df)
cols_to_drop = missing_pct[missing_pct > threshold].index.tolist()

print(f"Dropping {len(cols_to_drop)} columns with >{threshold*100}% missing values:")
print(cols_to_drop)

merged_df = merged_df.drop(columns=cols_to_drop)

# Remove rows without target variable
if 'Target' in merged_df.columns:
    before = len(merged_df)
    merged_df = merged_df.dropna(subset=['Target'])
    print(f"\nRemoved {before - len(merged_df):,} rows without target variable")

print(f"\nFinal merged dataset shape: {merged_df.shape}")

## 10. Save Merged Dataset

In [ ]:
# Save merged dataset
output_path = config.MERGED_DATASET_PATH
merged_df.to_csv(output_path, index=False)

print(f"\nâœ“ Merged dataset savedto: {output_path}")
print(f"  Total records: {len(merged_df):,}")
print(f"  Total features: {merged_df.shape[1]}")
print(f"  File size: {os.path.getsize(output_path) / 1024 / 1024:.2f} MB")

# Display sample
print("\nSample of merged data:")
display(merged_df.head())

print("\n" + "="*80)
print("âœ“ DATASET MERGING COMPLETE!")
print("="*80)
print("\nNext steps:")
print("1. Run 02_data_preprocessing.ipynb for detailed preprocessing")
print("2. Train models with the merged dataset")
print("3. Expect improved accuracy due to larger sample size")